@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";


$primary: $pink-600;
$dark: #000000;
$dark-grey: #242424;

$theme-colors: map-merge($theme-colors, (
    "primary": $primary,
    "dark": $dark,
));

$body-bg-dark: $dark;
$border-color-dark: $dark-grey;

@import "../node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


p,h1,h2,h3,h4,h5,h6 {
    user-select: none;
}

a {
    user-select: none;
    text-decoration: none;
    color: $primary;
    font-weight: bold;
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.error {
    color: $red-500;
}
 
.subtext {
    font-size: smaller;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

